---
layout: layout-base.njk
pagination:
  data: crops
  size: 1
  alias: crop
permalink: "/crops/{{ crop.slug }}/"
---

<header class="header">
  <h1>{{ crop.name }}</h1>
  {% if crop.description %}
    <p class="lede">{{ crop.description }}</p>
  {% endif %}
</header>

<section class="card">
  {% set cropPartial = "crops/" + crop.slug + ".njk" %}

  {% if cropPartial | fileExists %}
    {% include cropPartial %}
  {% else %}
    <p>
      Growing information for {{ crop.name | lower }} is coming soon.
    </p>
  {% endif %}
</section>
